body{
    font-family: sans-serif;
}
form{
    display: flex;
    justify-content: center;
}
input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px 5px;
}
.text-error{
    color: red;
    font-size: 0.8em;
}
.field-error{
    border-style: solid;
    border-color: red;
    border-width: 1.5px;
}
form div{
    margin-top: 1em;
}
.button{
    background-color: #4cafad;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 10px;
    font-size: 1em;
    margin: 4px 2px;
    border-radius: 3px;
    cursor: pointer;
}
form select{
    background-color: #3d8b89;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}
form select option{
    background-color: #525757;
}